{{- if eq .chezmoi.os "darwin" }}
.config/Cursor/User/settings.json
.config/Cursor/User/keybindings.json
.config/Cursor/User/snippets
.config/Cursor/User/snippets/**
AppData/Roaming/Cursor/User/settings.json
AppData/Roaming/Cursor/User/keybindings.json
AppData/Roaming/Cursor/User/snippets
AppData/Roaming/Cursor/User/snippets/**
{{- else if eq .chezmoi.os "linux" }}
Library/Application Support/Cursor/User/settings.json
Library/Application Support/Cursor/User/keybindings.json
Library/Application Support/Cursor/User/snippets
Library/Application Support/Cursor/User/snippets/**
AppData/Roaming/Cursor/User/settings.json
AppData/Roaming/Cursor/User/keybindings.json
AppData/Roaming/Cursor/User/snippets
AppData/Roaming/Cursor/User/snippets/**
{{- else }}
Library/Application Support/Cursor/User/settings.json
Library/Application Support/Cursor/User/keybindings.json
Library/Application Support/Cursor/User/snippets
Library/Application Support/Cursor/User/snippets/**
.config/Cursor/User/settings.json
.config/Cursor/User/keybindings.json
.config/Cursor/User/snippets
.config/Cursor/User/snippets/**
{{- end }}
