# age 加密配置（需在文件最前）
encryption = "age"
[age]
identity = "{{ .chezmoi.homeDir }}/.config/chezmoi/age.txt"
recipient = "age1ysazs0jjmru5hshy9zwap03rpf8qsqg44wmpqx8ux06qqg32kudsmtmpm8"

[hooks.apply.pre]
command = "sh"
args = ["{{ .chezmoi.homeDir }}/.local/share/chezmoi/scripts/backup-before-apply.sh"]

[merge]
command = "bash"
args = ["-c", "cp {{`{{ .Target }}`}} {{`{{ .Target }}`}}.base && cursor --new-window --wait --merge {{`{{ .Destination }}`}} {{`{{ .Target }}`}} {{`{{ .Target }}`}}.base {{`{{ .Source }}`}}"]
